$colorFondo:linear-gradient( rgb(250, 246, 249), rgb(223, 168, 223));   
$colorTitulo: rgb(66, 22, 66);
$tipografiaTitulos: 'Luckiest Guy', cursive;
$tipografia: fantasy; 
$colorMain: linear-gradient( rgb(252, 249, 251), rgb(235, 219, 235));
