$colorFondo:linear-gradient( rgb(245, 231, 241), rgb(216, 95, 216));   
$colorTitulo: rgb(66, 22, 66);
$tipografiaTitulos: 'Luckiest Guy', cursive;
$tipografia: fantasy; 
$colorMain: linear-gradient( rgb(252, 249, 251), rgb(235, 219, 235));
